header {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
}
  
header li {
  display: inline;
}

.nav-login {
  background-color: #200035;
  padding: 10px;
}

.nav-login ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: left;
}

.nav-login a {
  text-decoration: none;
  color: white; 
  padding: 1px 10px;
}

.Logo {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

#Back {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#Back:hover {
  color: #4d004d;
}

footer {
  background-color: #200035;
  padding: 20px;
  margin: 0; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
}

footer a {
  text-decoration: none;
  color: white;
}

main {
  padding-top: 50px; 
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 20px;
  padding: 40px 0;
}

.team-member {
  width: 220px; 
  min-height: 300px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.profile-picture img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  margin-top: 10px;
}


.team-member h3 {
  margin: 10px 0 0;
  color: #333;
}

.team-member p {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.social-links {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.social-links a img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .team-member {
    width: 100%; 
    min-height: 200px; 
  }
}


.email-link {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 12px;
  background-color: #200035;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9em;
}

.email-link img {
  width: 24px; /* Set the width to desired size */
  height: 24px; /* Set the height to desired size */
  vertical-align: middle; /* aligns the icon with the middle of the text */
}

.email-link:hover {
  background-color: #4d004d; 
}
