header {
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header li {
  display: inline;
}
.nav-login {
  background-color: #200035;
  padding: 10px;
}

.nav-login ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: left;
}

.nav-login a {
  text-decoration: none;
  color: white; /* Set text color to white */
  padding: 1px 10px;
}

body {
  background-image: url("Material/BB.png");
  background-size: cover;
  background-repeat: no-repeat; /* Optional: Prevents the background image from repeating */
  background-attachment: fixed; /* Optional: Fixes the background image in place */
}

section {
  display: flex;
  justify-content: space-between;
}

.Logo,
.Search,
.Advance-Search {
  display: flex;
  align-items: center;
}

.Logo {
  flex: 1;
  justify-content: flex-start;
  align-items: center; /* Align Logo to the left */
}

.Search {
  flex: 1;
  justify-content: center;
  align-items: center; /* Align search to the center */
}

.Search input[type="text"] {
  width: 300px; /* Set the width of the search box */
}

.Advance-Search {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
}

.Advance-Search a {
  background-color: #200035;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: white;
  text-decoration: none;
  display: inline-block; /* Ensure background covers only the text */
}

.Search {
  margin-left: 10px; /* Adjust spacing between Logo and Search */
}

/* 3rd part */

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items in the same line */
  justify-content: center; /* Center the navigation bar horizontally */
}

.navbar li {
  display: inline; /* Display list items in the same line */
  margin: 0 5%; /* Add spacing between items */
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: bold; /* Apply bold text */
  font-size: 20px; /* Apply larger font size */
}

/* Style for the separator */
.separator {
  height: 1px;
  background-color: black;
  margin-top: 20px; /* Adjust margin as needed */
}

footer {
  background-color: #200035;
  padding: 20px;
  text-align: right;
}

footer a {
  text-decoration: none;
  color: white;
}
