body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-position: center; /* Centers the background image */
}

header {
  margin: 0; /* Reset margin */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

header li {
  display: inline;
}
.nav-login {
  background-color: #200035;
  padding: 10px;
}

.nav-login ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: left;
}

.nav-login a {
  text-decoration: none;
  color: white; /* Set text color to white */
  padding: 1px 10px;
}

section {
  display: flex;
  justify-content: space-between;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10 px 10 px;
  padding-top: 40px;
}

body {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-position: center; /* Centers the background image */
}
